@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fortawesome/fontawesome-free/css/all.min.css";

/* custom global styles originally in index.html */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
.serif {
  font-family: "Playfair Display", serif;
}

.glass {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
}

.accent-srp {
  color: #000;
}

.bg-accent-srp {
  background-color: #000;
}
